.activityTile {
  background-color: whitesmoke;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgrey;
  color: lightgrey;
  margin: 10px 10px 10px 10px;
  min-height: 110px;
  max-height: 110px;
  min-width: 110px;
  max-width: 110px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 15px;
  text-align: center;
} 

.activityTile:hover {
  border-color: darkgrey;
  color: darkgray;
  background-color: AliceBlue;
}