.activityTile {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 4px;
  border-radius: 5px;
  border-color:  #E8E8E8;
  color: #333333;
  margin: 10px 10px 10px 10px;
  height: 110px;
  width: 110px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 10px;
  text-align: center;
  transition: width 0.5s, font-size 0.5s, margin-top 0.5s;
  padding: 0px 0px 0px 0px;  
}

.activityTile:hover {
  border-color: teal;
  color: teal;
  box-shadow: 0px 0px 20px 0px lightgray;
  width: 115px;
  margin-top: 8px;
  font-size: 11px;
}

.iconAndName {
  margin: 10px 5px 10px 5px;
  padding: -5px 5px 5px 5px;
}

