.form {
  background-color: whitesmoke;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: darkgrey;
  color: dimgrey;
  margin: 0px 0px 0px 0px; 
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 15px;
  text-align: center;
  box-shadow:  0 0 20px dimgray;
} 

.btn-group {
  width: 100%;
}

.btn {
  width: 25%;
}

.btn:active
{
  background-color:darkgrey;
}

.btn.active
{
  color: #ffffff;
  background-color: dimgrey;
}