.loggedActivity {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #E8E8E8;
  color: dimgray; 
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 15px;
  text-align: center;
}

.loggedActivity:focus {
  border-color: darkgrey;
  color: dimgray;
  box-shadow: 0px 0px 10px 2px lightgray;
}

.loggedActivity:hover {
  border-color: teal;
  color: teal;
}