.loggedActivity {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #E8E8E8;
  color: lightgrey; 
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 15px;
  text-align: center;
} 
 
.loggedActivity:hover {
    border-color: darkgrey;
    color: dimgray;
    box-shadow: 0px 0px 10px 2px lightgray;
  }

.loggedActivity:focus {
  border-color: darkgrey;
  color: dimgray;
  box-shadow: 0px 0px 10px 2px lightgray;
}