.nav-item {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
}

.nav-item:hover {
  color: #556C8E;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #f1f1f1;
} 